:root {
    --primary-color: #F5B839;
    --second-color: #FFFFFF;
    --third-color: #732B8F;
}

* {
    margin: 0;
    box-sizing: border-box;
}
.contenedor {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    padding: 15px 30px;
}
header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    color: white;
    font-size: 40px;
}

.menu {
    height: 47px;
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
}

.menu ul a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    background-color: var(--primary-color);
    padding: 15px 30px;
    margin-bottom: 60px;
    position: relative;
}

.hero .contenedor {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    min-height: 300px;
}

.hero-content {
    color: var(--second-color);
}

.hero-titulo {
    font-size: 50px;
    margin-bottom: 25px;
}

.hero-info {
    width: 400px;
    text-align: justify;
    margin-bottom: 25px;
}

.hero-options {
    display: flex;
    width: 400px;
    justify-content: space-between;
    font-size: 19px;
}

.hero-options a {
    border: 1px solid var(--second-color);
    border-radius: 20px;
    padding: 10px 25px;
    color: var(--second-color);
    text-decoration: none;
}
.hero-options a:nth-child(1) {
    background-color: var(--third-color);
    border-color: var(--third-color);
}

.hero::before {
    content: '';
    background-image: url('../img/hero-bg.png');
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 300px;
    width: 100%;
}

main {
    display: flex;
    padding: 15px 30px 70px;
}
.productos {
    display: flex;
    flex-direction: column;
}

.productos h1 {
    text-align: center;
    text-transform: uppercase;
}

.productos > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productos > div > div {
    flex: 1;
}
.producto-img img {
    width: 100%;
}
footer {
    background-color: var(--primary-color);
}
footer .contenedor {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    color: var(--second-color);
    font-size: 20px;
}
footer a{
    color: var(--second-color);
}
.derechos-reservados {
    align-self: center;
    flex: 1;
}
.social {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
.social ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    align-items: center;
    flex: 1;
}
.social ul li {
    list-style-type: none;
}
.enlaces {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 15px;
}
.enlaces strong {
    text-align: center;
}
.enlaces ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
.enlaces ul li {
    list-style-type: none;
    flex: 0 0 50%;
    display: flex;
}

.enlaces ul li a {
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .hero-info {
        display: none;
    }
    .hero-options {
        flex-direction: column;
        row-gap: 15px;
        max-width: 50%;

    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 80%;
    }
    .productos > div {
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    header .contenedor {
        flex-direction: column;
    }
    footer .contenedor {
        flex-direction: column;
        row-gap: 25px;
    }
}
/*.contenedor {

@media screen and (max-width: 576px) {
header {
height: auto;
}
.logo {
float: none;
}
.menu {
float: none;
margin-top: 15px;
}
.menu ul {
padding-left: 0;
}
.menu ul li {
display: block;
}
}*/

